body {
  background-color: aliceblue;
  font-family: 'Roboto Condensed', sans-serif; }

a {
  text-decoration: none;
  text-align: center;
  color: white; }

.menu-container {
  background-color: black;
  color: #4a8bad;
  padding: 20px 0;
  display: flex;
  justify-content: center; }
  .menu-container .menu {
    background-color: #4a8bad;
    padding: 10px 0;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif; }

.product-container {
  text-align: center;
  text-decoration: solid;
  font-family: 'Roboto Condensed', sans-serif; }
  .product-container .noticias {
    width: 100%;
    display: flex;
    justify-items: left; }

h1,
h3,
p {
  padding: 20px 0px 0px 0px;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto Condensed', sans-serif; }

.photo-grid-container {
  padding: 5% 0%;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .photo-grid-container .photo-grid {
    width: 100%;
    display: flex;
    justify-content: center; }
  .photo-grid-container .firt-item {
    order: 1;
    border: 1px solid black; }
  .photo-grid-container .photo-grid-item {
    padding: 5px 0;
    margin: 5px;
    width: 70%;
    border: 1px solid black; }
  .photo-grid-container .last-item {
    order: -1;
    border: 1px solid black; }

.img-model-div {
  display: flex;
  justify-content: center; }

.img-model {
  width: 35%; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }
  form h4 {
    color: black;
    text-align: center;
    margin: 0%;
    font-size: 30px;
    margin-bottom: 20px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid grey; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; }
  form #boton {
    background: #31384a;
    color: white;
    padding: 10px; }
  form #boton:hover {
    cursor: pointer; }
  @media (max-width: 480px) {
    form form {
      width: 100%; } }

.alinea-footer {
  padding: 5px 0;
  text-align: center;
  background-color: black; }
  .alinea-footer .redes {
    width: 40px;
    min-width: 40px;
    margin: 0;
    padding: 20px 0; }
  .alinea-footer .footer-text {
    color: white; }
