.grid-container {
    display: grid;
    margin: 30px 0px 30px 0px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 100px);
    gap: 2px 2px;
    text-align: space-around;
    justify-content: stretch;
    font-size: 1.5rem;
    width: 100%;
    height: 100px;
    grid-template-areas: 
    "articuloUno articuloUno articuloDos articuloDos"
    "articuloUno articuloUno articuloDos articuloDos"
    "articuloTres articuloTres articuloCuatro articuloCuatro"
    "articuloTres articuloTres articuloCuatro articuloCuatro"; 
   .articuloUno {
    grid-area: articuloUno;
    background-color: #73CAEF; 
   }
   .articuloDos {
    grid-area: articuloDos;
    background-color: #67B5D7; 
   }
   .articuloTres {
    grid-area: articuloTres;
    background-color: #5CA1BF; 
   }
   .articuloCuatro {
    grid-area: articuloCuatro;
    background-color: #508DA7; 
   }
}